/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*
!/addons/sourcemod/updatefile.txt

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/updater.smx

!/addons/sourcemod/plugins/soccer_modules.smx
!/addons/sourcemod/plugins/old/*

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/soccer_modules.sp

!/addons/sourcemod/scripting/include/morecolors.inc
!/addons/sourcemod/scripting/soccer_modules
!/addons/sourcemod/scripting/soccer_modules/*

/skins
/skins/*